<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Lançar produção</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
    <body>


    <div class="row border"style="margin: 20px; padding: 10px; border-radius: 10px; background-color: blue; color: white">
        <h3 style="margin: 25px; margin-left: 450px">APONTAMENTO DE FALTA</h3>
    </div>

    <div class="row border">

        <div class="col-4">

            <form method="POST" action="{% url 'apontarFalta' %}">
                {% csrf_token %}

                <div class="col-12"style="margin: 20px; padding: 50px; border-radius: 10px;">

                    <div class="row" style="margin: 10px;">
                        <input name="matricula" class="form-control" type="number" placeholder="Informe a matrícula" autofocus>
                    </div>

                    <div class="row" style="margin: 10px;">
                        <input name="motivo" class="form-control" type="text" placeholder="Informe o motivo" autofocus>
                    </div>

                    <div class="row" style="margin: 10px">
                        <button type="submit" class="btn btn-primary" style="margin-top: 20px">Apontar Falta</button>
                    </div>
                    <div class="row" style="margin: 10px">
                        <p style="margin-top: 20px;">{{ msg }}</p>
                    </div>
                </div>

            </form>

        </div>

        <div class="col-8">
            <div class="col-12" style="padding: 40px">
                <table class="table table-striped" style="margin: 20px">
                    <thead>
                        <tr>
                            <th scope="col">Dia</th>
                            <th scope="col">Nome</th>
                            <th scope="col">Empresa</th>
                            <th scope="col">Presenca</th>
                            <th scope="col">Motivo</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for x in frequencia %}
                        <div>

                            <tr>
                                <th scope="row">{{ x.dia.dia }}</th>
                                <td>{{ x.funcionario.nome }}</td>
                                <td>{{ x.funcionario.cooperativa }}</td>
                                <td>{{ x.prresenca }}</td>
                                <td>{{ x.motivo }}</td>
                            </tr>
                        </div>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-8" style="padding: 50px">
            <p>Usuário: {{ user.username }}</p>
            <p>{{ data_atual }}</p>
        </div>

        <div class="col-4" style="padding: 50px">
            {% if user.is_authenticated %}
            <p class="logged-in-p">
                <span class="sair"><h3><a href="{% url 'logout' %}">Sair</a></h3></span>
            </p>
            {% endif %}
        </div>
    </div>



    </body>

</html>