<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Lançar produção</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
    <body>


    <div class="row border"style="margin: 20px; padding: 10px; border-radius: 10px; background-color: green; color: white">
        <h3 style="margin: 25px; margin-left: 450px">EMISSÃO DE RELATÓRIOS</h3>
    </div>

    <div class="row border">
        <div>
            
            <form method="POST" id="form1" action="{% url 'exportar_producao_semanal' %}">
                {% csrf_token %}
                

                <div class="col-12"style="margin: 20px; padding: 50px; border-radius: 10px;">
                    <h4>Produtividade e Premiação (Semanal)</h4>

                    <div class="row">
                        <input id="data1" name="data1" class="form-control" type="date" placeholder="DD/MM/YYYY" autofocus style="margin-top: 20px">
                    </div>

                    <div class="row">
                        <input id="data2" name="data2" class="form-control" type="date" placeholder="DD/MM/YYYY" style="margin-top: 20px">
                    </div>

                    <div class="row">
                        <input id="vrPago" name="vrPago" class="form-control" type="number" step="any" placeholder="Valor (R$) pago por KG" style="margin-top: 20px">
                    </div>
                    
                    <br/>

                    <div class="row">
                        <div class="col-12">
                            <input type="checkbox" id="fechamento" name="fechamento" value="ok" style="margin-top: 20px"> 
                            <label for="fechamento">Executar fechamento de mês</label>
                        </div>
                    </div>

                    <input type="hidden" name="action" value="Semanal">

                    <div class="row">
                        <button id="botao" type="submit" class="btn btn-primary" style="margin-top: 20px">Emitir Relatório</button>
                    </div>
                
                </div>

            </form>
        </div>

        
    </div>

    <div class="row">
        <div class="col-8" style="padding: 50px">
            <p><b>Usuário: {{ user.username }}</b></p>
            <p><b>{{ data_atual }}</b></p>
        </div>

        <div class="col-4" style="padding: 20px"> 

            <button type="button" class="btn btn-primary">
                <a href="{% url 'salvarProducao' %}" style="color: black;">PRODUÇÃO</a>    
            </button>
<!--
            <button type="button" class="btn btn-success">
                <a href="{% url 'relatoriodiadia' %}" style="color: black;">RELATORIO DIADIA</a>    
            </button>
-->
            {% if user.is_authenticated %}
            <button type="button" class="btn btn-info">
                <a href="{% url 'logout' %}" style="color: black;">FAZER LOGOUT</a>    
            </button>
            {% endif %}

        </div>

    </div>
    </body>
</html>