<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Acessar o Sistema</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

    {% load bootstrap %}

    {% block content %}

        
        <div class="container">
            
            
            <div class="box">
                <h3 style="color: black; margin-bottom: 15px; text-align: center;">Cooperativa</h3>
                <form action="." method="post">
                    {% csrf_token %}
                    {{ form|bootstrap }}
                    <input class="btn btn-primary" type="submit" value="ENTRAR" style="margin-top: 15px;">

                    <button type="button" class="btn btn-light" style="margin-top: 15px; margin-left: 65px;">
                        <a href="/" style="color: gray;">PAINEL ADMINISTRATIVO</a>    
                    </button>

                </form>
            </div>
            
            
        </div>
        
            
    {% endblock %}



    <style>
        .container {
            width: 100vw;
            height: 100vh;
    
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center
            }
        .box {
            width: 400px;
            height: 350px;
            background: rgb(red, green, blue);
            padding: 20px;
            border-radius: 20px;
            }
        .body {
            margin: 0px;
            
            }
    </style>

</body>
</html>