<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Acessar o Sistema</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

    {% load bootstrap %}

    {% block content %}

        
        <div class="container">
            
            <div class="box">
                <h1 style="color: black; margin-bottom: 15px;">LOGIN</h1>
                <form action="." method="post">
                    {% csrf_token %}
                    {{ form|bootstrap }}
                    <input class="btn btn-primary" type="submit" value="Entrar" style="margin-top: 15px;">
                </form>
            </div>
        </div>
        
    {% endblock %}

    <style>
        .container {
            width: 100vw;
            height: 100vh;
    
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center
            }
        .box {
            width: 350px;
            height: 350px;
            background: rgb(115, 170, 202);
            padding: 20px;
            border-radius: 20px;
            }
        .body {
            margin: 0px;
            }
    </style>

</body>
</html>